nav.navigation
  
  a.navigation__link(href="/") index.
  ul.navigation__list
    li.navigation__list__item
      a.navigation__list__link(href="/about") About
    li.navigation__list__item
      a.navigation__list__link(href="/project/project_exemple") Project
        //- li.navigation__list__item
    //-   a.navigation__list__link(href="/contact") Contact

