doctype html
html(lang="en")
  head
    include _includes/partials/head.pug

  body
    //- Partials


    //- Layouts
    include _includes/layouts/home.pug

  script(type="module", src="/src/app/index.js")

